{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

<section class="breadcrumb padding-y-120">
    <img src="assets/images/thumbs/breadcrumb-img.png" alt="" class="breadcrumb__img">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb__wrapper">
                    <h2 class="breadcrumb__title"> Cart</h2>
                    <ul class="breadcrumb__list">
                        <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link"> <i class="las la-home"></i> Home</a> </li>
                        <li class="breadcrumb__item"><i class="fas fa-angle-right"></i></li>
                        <li class="breadcrumb__item"> <span class="breadcrumb__item-text"> Cart </span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cart padding-y-120">
    <div class="container container-two">
        <div class="row gy-4 justify-content-end">
            <div class="col-lg-12">
                <div class="overflow-auto">
                    <div class="card common-card min-w-maxContent">
                        <div class="card-body">
                            <table class="table style-two">
                                <thead>
                                  <tr>
                                    <th>Product Details</th>
                                    <th>Quantity</th>
                                    <th>Total Price</th>
                                    <th>Delete</th>
                                  </tr>
                                </thead>
                                <tbody>
                                {% if items|length > 0 %}
                                    {% for item in items %}
                                  <tr>
                                    <td>
                                        <div class="d-flex align-items-center gap-3">
                                            <div class="cart-item__thumb">
                                                <img src="assets/images/thumbs/property-1.png" alt="">
                                            </div>
                                            <div class="cart-item__content">
                                                <h6 class="cart-item__title fw-500 font-18"> <a href="property.html" class="link">{{ item.product.propertyTitle }}</a></h6>

                                                <span class="cart-item__price">Price: <span class="fw-500 text-heading">{{ item.product.price }}</span></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cart-item__count">
                                            <button data-decrease="data-decrease"> <i class="fas fa-minus"></i></button>
                                            <input data-value="data-value" type="number" value="{{ item.quantity }}">
                                            <button data-increase="data-increase"><i class="fas fa-plus"></i></button>
                                        </div>
                                    </td>
                                    <td>
                                        <h6 class="cart-item__totalPrice font-16 fw-500 mb-0">{{ item.product.price * item.quantity}}</h6>
                                    </td>
                                    <td>
                                        <a href="{{ path('app_cart_delete', {'id':item.product.id }) }}" class="rounded-btn delete-btn  text-danger bg-danger bg-opacity-10 flex-shrink-0">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                  </tr>
                                  {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4" class="text-center">No items in cart</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card common-card">
                    <div class="card-body">
                        <h6 class="title mb-4">Cart Totals</h6>
                        <ul class="billing-list">
                            <li class="billing-list__item flx-between">
                                <span class="text text-poppins font-15">HT</span>
                                <span class="amount fw-semibold text-heading text-poppins"> {{total  - (total * 0.20) }}</span>
                            </li>
                            <li class="billing-list__item flx-between">
                                <span class="text text-poppins font-15">Vat</span>
                                <span class="amount fw-semibold text-heading text-poppins"> {{total * 0.20 }}</span>
                            </li>
                            <li class="billing-list__item flx-between">
                                <span class="text text-poppins fw-semibold text-heading">Order Total</span>
                                <span class="amount fw-semibold text-heading text-poppins"> {{total}}</span>
                            </li>
                        </ul>
                        <a href="{{ path('app_cart_stripe')}}" class="btn btn-main w-100 mt-4">Paiement par stripe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cta padding-b-120">
    <div class="container container-two">
        <div class="cta-box flx-between gap-2">
            <div class="cta-content">
                <h2 class="cta-content__title">Subscribe To Our <span class="text-gradient">Newsletter</span> </h2>
                <p class="cta-content__desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                <form action="#" class="cta-content__form d-flex align-items-center gap-2">
                    <div class="position-relative w-100">
                        <input type="text" class="common-input common-input--withLeftIcon w-100" placeholder="Enter Your Email Address">
                        <span class="input-icon input-icon--left text-gradient font-20 line-height-1"><i class="far fa-envelope"></i></span>
                    </div>
                    <button type="submit" class="btn btn-main text-uppercase flex-shrink-0"> Subscribe <span class="text">Now</span> </button>
                </form>
            </div>
            <div class="cta-content__thumb d-xl-block d-none">
                <img src="assets/images/thumbs/cta-img.png" alt="">
            </div>
        </div>
    </div>
</section>
{% endblock %}
