{% extends 'base.html.twig' %}

{% block title %}Hello PropertyDetailController!
{% endblock %}

{% block body %}
	{{ include ('_partials/breadcrumb.html.twig', {title: property.propertyTitle}) }}

	<section class="property-details padding-y-120">
		<div class="container container-two">
			<div class="row gy-4">
				<div class="col-lg-8">
					<div class="row gy-4">
						{% for images in property.pictures %}
							{% if loop.first %}
								<div class="col-sm-12 col-6">
									<div class="property-details__thumb">
										<img src="{{ vich_uploader_asset(images, 'imageFile') }}" alt="" class="cover-img">
									</div>
								</div>
							{% else %}
								<div class="col-sm-4 col-6">
									<div class="property-details__thumb">
										<img src="{{ vich_uploader_asset(images, 'imageFile') }}" alt="" class="cover-img">
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
					<div class="property-details-wrapper">
						<div class="property-details-item">
							<h6 class="property-details-item__title">Informations générales</h6>
							<div class="property-details-item__content">
								{% if property.detailsInformation != null %}
									<div class="row gy-4 gy-lg-5">
										<div class="col-sm-4 col-6">
											<div class="amenities-content d-flex align-items-center">
												<span class="amenities-content__icon">
													<img src="{{ asset('assets/images/icons/amenities1.svg') }}" alt="">
												</span>
												<div class="amenities-content__inner">
													<span class="amenities-content__text">Chambres</span>
													<h6 class="amenities-content__title mb-0 font-16">{{ property.detailsinformation.bedroom}}
														Chambres</h6>
												</div>
											</div>
										</div>
										<div class="col-sm-4 col-6">
											<div class="amenities-content d-flex align-items-center">
												<span class="amenities-content__icon">
													<img src="{{ asset('assets/images/icons/amenities3.svg') }}" alt="">
												</span>
												<div class="amenities-content__inner">
													<span class="amenities-content__text">Salles de bains</span>
													<h6 class="amenities-content__title mb-0 font-16">{{ property.detailsInformation.bathrooms }}
														Salle de bains</h6>
												</div>
											</div>
										</div>
										<div class="col-sm-4 col-6">
											<div class="amenities-content d-flex align-items-center">
												<span class="amenities-content__icon">
													<img src="{{ asset('assets/images/icons/amenities5.svg') }}" alt="">
												</span>
												<div class="amenities-content__inner">
													<span class="amenities-content__text">Taille du terrain</span>
													<h6 class="amenities-content__title mb-0 font-16">{{ property.detailsInformation.landArea }}
														{{ property.detailsInformation.sizePrefix }}</h6>
												</div>
											</div>
										</div>
										<div class="col-sm-4 col-6">
											<div class="amenities-content d-flex align-items-center">
												<span class="amenities-content__icon">
													<img src="{{ asset('assets/images/icons/amenities4.svg') }}" alt="">
												</span>
												<div class="amenities-content__inner">
													<span class="amenities-content__text">Garages</span>
													<h6 class="amenities-content__title mb-0 font-16">{{ property.detailsInformation.garages }}
														Garages</h6>
												</div>
											</div>
										</div>
										<div class="col-sm-4 col-6">
											<div class="amenities-content d-flex align-items-center">
												<span class="amenities-content__icon">
													<img src="{{ asset('assets/images/icons/amenities5.svg') }}" alt="">
												</span>
												<div class="amenities-content__inner">
													<span class="amenities-content__text">Superficie</span>
													<h6 class="amenities-content__title mb-0 font-16">{{ property.detailsInformation.areaSize }}
														{{ property.detailsInformation.sizePrefix }}</h6>
												</div>
											</div>
										</div>
										<div class="col-sm-4 col-6">
											<div class="amenities-content d-flex align-items-center">
												<span class="amenities-content__icon">
													<img src="{{ asset('assets/images/icons/amenities6.svg') }}" alt="">
												</span>
												<div class="amenities-content__inner">
													<span class="amenities-content__text">Type de propriété</span>
													<h6 class="amenities-content__title mb-0 font-16">{{ property.statuts.name }}</h6>
												</div>
											</div>
										</div>
									</div>
								{% endif %}
							</div>
						</div>
						<div class="property-details-item">
							<h6 class="property-details-item__title">Équipements</h6>
								<div class="property-details-item__content">
									<div class="row gy-2">
										<div class="col-sm-6">
											<ul class="check-list">
												{% for i in 0..2 %}
                                                {% if properties.amenities[i] is defined %}
													<li class="check-list__item d-flex align-items-center">
														<span class="icon">
															<i class="fas fa-check"></i>
														</span>
														<span class="text">{{ property.amenities[i].name}}</span>
													</li>
                                                {% endif %}
												{% endfor %}
											</ul>
										</div>
										<div class="col-sm-6">
											<ul class="check-list">
												{% for i in 3..5 %}
                                                {% if properties.amenities[i] is defined %}
													<li class="check-list__item d-flex align-items-center">
														<span class="icon">
															<i class="fas fa-check"></i>
														</span>
														<span class="text">{{ property.amenities[i].name is defined ? property.amenities[i].name :'' }}</span>
													</li>
                                                     {% endif %}
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
						</div>
						<div class="property-details-item">
							<h6 class="property-details-item__title">Address</h6>
							<div class="property-details-item__content">
								<div class="row gy-4">
									<div class="col-6">
										<div class="address-content d-flex gap-4 align-items-center">
											<span class="address-content__text font-18">Address</span>
											<h6 class="address-content__title font-15 mb-0">Mirpur 1,Chineese</h6>
										</div>
									</div>
									<div class="col-6">
										<div class="address-content d-flex gap-4 align-items-center">
											<span class="address-content__text font-18">Code</span>
											<h6 class="address-content__title font-15 mb-0">2365</h6>
										</div>
									</div>
								</div>
								<input type="hidden" id="lat" data-latitude="48.856614">
								<input type="hidden" id="long" data-longitude="2.3522219">
								<div class="address-map" id="map"></div>
							</div>
						</div>
						<div class="property-details-item">
							<h6 class="property-details-item__title">House</h6>
							<div class="property-details-item__content">
								<div class="house-content position-relative">
									<img src="assets/images/thumbs/house.png" alt="">
									<a href="https://www.youtube.com/watch?v=pPl3ZZdTP3g" class="popup-video-link video-popup__button style-two">
										<i class="fas fa-play text-gradient"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="common-sidebar-wrapper">
						<div class="common-sidebar">
							<h6 class="common-sidebar__title">
								Category
							</h6>
							<ul class="category-list">
								<li class="category-list__item">
									<a href="blog-classic.html" class="category-list__link flx-between">
										<span class="text">Prime Investments</span>
										<span class="number">(1)</span>
									</a>
								</li>
								<li class="category-list__item">
									<a href="blog-classic.html" class="category-list__link flx-between">
										<span class="text">ProHome Finders</span>
										<span class="number">
											(8)
										</span>
									</a>
								</li>
								<li class="category-list__item">
									<a href="blog-classic.html" class="category-list__link flx-between">
										<span class="text">SmartHouse Agency</span>
										<span class="number">
											(3)
										</span>
									</a>
								</li>
								<li class="category-list__item">
									<a href="blog-classic.html" class="category-list__link flx-between">
										<span class="text">Secure Property Partners</span>
										<span class="number">
											(5)
										</span>
									</a>
								</li>
							</ul>
						</div>
						<div class="common-sidebar">
							<h6 class="common-sidebar__title">
								Recent Post
							</h6>
							<div class="latest-blog">
								<div class="latest-blog__thumb">
									<a href="blog-details.html">
										<img src="assets/images/thumbs/latest-blog1.png" class="cover-img" alt=""></a>
								</div>
								<div class="latest-blog__content">
									<span class="latest-blog__category font-12 flx-align gap-1">
										<span class="icon text-gradient">
											<i class="fas fa-folder-open"></i>
										</span>
										Category</span>
									<h6 class="latest-blog__title">
										<a href="blog-details.html">A picture is worth standard and stand us return</a>
									</h6>
								</div>
							</div>
							<div class="latest-blog">
								<div class="latest-blog__thumb">
									<a href="blog-details.html">
										<img src="assets/images/thumbs/latest-blog2.png" class="cover-img" alt=""></a>
								</div>
								<div class="latest-blog__content">
									<span class="latest-blog__category font-12 flx-align gap-1">
										<span class="icon text-gradient">
											<i class="fas fa-folder-open"></i>
										</span>
										Category</span>
									<h6 class="latest-blog__title">
										<a href="blog-details.html">Your journ homeownership starts here</a>
									</h6>
								</div>
							</div>
							<div class="latest-blog">
								<div class="latest-blog__thumb">
									<a href="blog-details.html">
										<img src="assets/images/thumbs/latest-blog3.png" class="cover-img" alt=""></a>
								</div>
								<div class="latest-blog__content">
									<span class="latest-blog__category font-12 flx-align gap-1">
										<span class="icon text-gradient">
											<i class="fas fa-folder-open"></i>
										</span>
										Category</span>
									<h6 class="latest-blog__title">
										<a href="blog-details.html">Trust us to guide you the a through the process</a>
									</h6>
								</div>
							</div>
						</div>
						<div class="common-sidebar">
							<h6 class="common-sidebar__title">
								Properties
							</h6>
							<div class="row gy-4">
								<div class="col-lg-6 col-sm-4 col-6">
									<a href="property.html" class="properties-item d-block w-100">
										<img src="assets/images/thumbs/properties-1.png" alt="Property Image" class="cover-img">
										<span class="properties-item__text">Relax House</span>
									</a>
								</div>
								<div class="col-lg-6 col-sm-4 col-6">
									<a href="property.html" class="properties-item d-block w-100">
										<img src="assets/images/thumbs/properties-2.png" alt="Property Image" class="cover-img">
										<span class="properties-item__text">Hunting Adventure</span>
									</a>
								</div>
								<div class="col-lg-6 col-sm-4 col-6">
									<a href="property.html" class="properties-item d-block w-100">
										<img src="assets/images/thumbs/properties-3.png" alt="Property Image" class="cover-img">
										<span class="properties-item__text">Homeowner ship</span>
									</a>
								</div>
								<div class="col-lg-6 col-sm-4 col-6">
									<a href="property.html" class="properties-item d-block w-100">
										<img src="assets/images/thumbs/properties-4.png" alt="Property Image" class="cover-img">
										<span class="properties-item__text">Real Dreams</span>
									</a>
								</div>
								<div class="col-lg-6 col-sm-4 col-6">
									<a href="property.html" class="properties-item d-block w-100">
										<img src="assets/images/thumbs/properties-5.png" alt="Property Image" class="cover-img">
										<span class="properties-item__text">New Doors</span>
									</a>
								</div>
								<div class="col-lg-6 col-sm-4 col-6">
									<a href="property.html" class="properties-item d-block w-100">
										<img src="assets/images/thumbs/properties-6.png" alt="Property Image" class="cover-img">
										<span class="properties-item__text">The Heart</span>
									</a>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block stylesheet %}
    <style>
        #map : {
            height: 375px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
    <script>
        var lat = document.getElementById('lat').dataset.latitude;
        var lon = document.getElementById('long').dataset.longitude;
        
		function initMap(){
			macarte = L.map('map').setView([lat, lon], 11);
			L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
				attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
				minZoom: 1,
				maxZoom: 20
			}).addTo(macarte);
		}

        window.onload = function(){
            initMap();
            var marker = L.marker([lat, lon]).addTo(macarte);
        }
    </script>
{% endblock %}

